<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>
                    document.write(new Date().getFullYear())
                </script> © RubiCAMP.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block"> Design & Develop by Abdul Aziz </div>
            </div>
        </div>
    </div>
</footer>

</div>
<!-- END layout-wrapper -->


<!-- JAVASCRIPT -->
<script src="assets/libs/jquery/jquery.min.js"></script>
<script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/libs/metismenu/metisMenu.min.js"></script>
<script src="assets/libs/simplebar/simplebar.min.js"></script>
<script src="assets/libs/node-waves/waves.min.js"></script>

<!-- select 2 plugin -->
<script src="https://themesbrand.com/skote/layouts/assets/libs/select2/js/select2.min.js"></script>

<!-- dropzone plugin -->
<script src="https://themesbrand.com/skote/layouts/assets/libs/dropzone/min/dropzone.min.js"></script>

<!-- init js -->
<script src="https://themesbrand.com/skote/layouts/assets/js/pages/ecommerce-select2.init.js"></script>

<!-- App js -->
<script src="assets/js/app.js"></script>

</body>

</html>