<%- include('partials/header') %>



        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">Dashboard</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-xl-4">

                            <div class="card overflow-hidden">
                                <div class="bg-primary bg-soft">
                                    <div class="row">
                                        <div class="col-7">
                                            <div class="text-primary p-3">
                                                <h5 class="text-primary">Hallo, Users</h5>
                                                <p>Selamat Datang Kembali</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- ==================Tabel Searching = -->
                                <div class="card-body pt-2 ">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="avatar-md profile-user-wid mb-6">
                                                <img src="/assets/images/users/avatar-1.jpg" alt=""
                                                    class="img-thumbnail rounded-circle">
                                            </div>
                                            <h5 class="font-size-15 text-truncate">Henry Price</h5>
                                            <p class="text-muted mb-0 text-truncate">ADMIN/OPERATOR</p>
                                        </div>

                                        <div class="col-sm-8">
                                            <div class="pt-2">

                                                <div class="row">
                                                    <div class="col-6">
                                                        <h5 class="text-muted mb-0">Jam Kerja</h5>
                                                        <p class="font-size-15">08:00 - 16:00</p>
                                                    </div>
                                                    <div class="col-6">
                                                        <h5 class="text-muted mb-0">Catatan</h5>
                                                        <p class="font-size-15"> - </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- ==================Searching = -->

                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Pencarian Data</h4>
                                    <div class="row">
                                        <form id="form-search">

                                            <div class="row mb-3">
                                                <label for="searchString"
                                                    class="col-sm-2 col-form-label">Invoice</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="searchString"
                                                        name="searchString" placeholder="Tulis Invoice">
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label for="searchDate" class="col-sm-2 col-form-label" id="searchDate"
                                                    name="searchDate" for="searchDate">Date</label>
                                                <div class="col-sm-4">
                                                    <input type="date" id="searchStartDate" name="searchStartDate"
                                                        class="form-control" placeholder="Tulis Date">
                                                    <label class="col-sm-4 col-form-label">to</label>
                                                    <input type="date" id="searchEndDate" name="searchEndDate"
                                                        class="form-control" placeholder="Tulis Date">
                                                </div>
                                            </div>

                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-primary">Cari</button>

                                                <a href="/jquery.html" class="btn btn-warning">Reset</a>
                                            </div>

                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-xl-8">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card mini-stats-wid">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <div class="flex-grow-1">
                                                    <p class="text-muted fw-medium">Uang Keluar</p>
                                                    <h4 class="mb-0">1,235</h4>
                                                </div>

                                                <div class="flex-shrink-0 align-self-center">
                                                    <div class="mini-stat-icon avatar-sm rounded-circle bg-primary">
                                                        <span class="avatar-title">
                                                            <i class="fa-solid fa-arrow-up-long font-size-24"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card mini-stats-wid">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <div class="flex-grow-1">
                                                    <p class="text-muted fw-medium">Uang Masuk</p>
                                                    <h4 class="mb-0">$35, 723</h4>
                                                </div>

                                                <div class="flex-shrink-0 align-self-center ">
                                                    <div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
                                                        <span class="avatar-title rounded-circle bg-primary">
                                                            <i class="fa-solid fa-arrow-down-long font-size-24"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card mini-stats-wid">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <div class="flex-grow-1">
                                                    <p class="text-muted fw-medium">Profit</p>
                                                    <h4 class="mb-0">$16.2</h4>
                                                </div>

                                                <div class="flex-shrink-0 align-self-center">
                                                    <div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
                                                        <span class="avatar-title rounded-circle bg-primary">
                                                            <i class="fa-solid fa-plus font-size-24"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->

                            <div class="card">
                                <div class="card-body">
                                    <div class="d-sm-flex flex-wrap">
                                        <h4 class="card-title mb-4">Tabel Hasil Pencarian</h4>
                                        <div class="ms-auto">
                                            <ul class="nav nav-tabs">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Barang</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Gudang</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Pembelian</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link active" href="#">Penjualan</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Satuan</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Supplier</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Users</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--Tempat tabel data -->
                                    <div class="table-responsive">
                                        <table class="table align-middle table-nowrap table-check">
                                            <thead class="table-light">
                                                <tr>
                                                    <th style="width: 20px;" class="align-middle">
                                                        <div class="form-check font-size-16">
                                                            <input class="form-check-input" type="checkbox" id="checkAll">
                                                            <label class="form-check-label" for="checkAll"></label>
                                                        </div>
                                                    </th>
                                                    <th class="align-middle">No</th>
                                                    <th class="align-middle">No. Invoice</th>
                                                    <th class="align-middle">Tanggal</th>
                                                    <th class="align-middle">Total Harga</th>
                                                    <th class="align-middle">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="form-check font-size-16">
                                                            <input class="form-check-input" type="checkbox" id="orderidcheck01">
                                                            <label class="form-check-label" for="orderidcheck01"></label>
                                                        </div>
                                                    </td>
                                                    <td><a href="javascript: void(0);" class="text-body fw-bold">#SK2540</a> </td>
                                                    <td>Neal Matthews</td>
                                                    <td>
                                                        07 Oct, 2019
                                                    </td>
                                                    <td>
                                                        $400
                                                    </td>
                                                    <td>
                                                        <div class="d-flex gap-3">
                                                            <a href="javascript:void(0);" class="text-primary"><i class="fa-solid fa-print"></i></a>
                                                            <a href="javascript:void(0);" class="text-success"><i class="fa-solid fa-pencil"></i></a>
                                                            <a href="javascript:void(0);" class="text-danger"><i class="fa-solid fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <div class="form-check font-size-16">
                                                            <input class="form-check-input" type="checkbox" id="orderidcheck02">
                                                            <label class="form-check-label" for="orderidcheck02"></label>
                                                        </div>
                                                    </td>
                                                    <td><a href="javascript: void(0);" class="text-body fw-bold">#SK2541</a> </td>
                                                    <td>Jamal Burnett</td>
                                                    <td>
                                                        07 Oct, 2019
                                                    </td>
                                                    <td>
                                                        $380
                                                    </td>
                                                    <td>
                                                        <div class="d-flex gap-3">
                                                            <a href="javascript:void(0);" class="text-primary"><i class="fa-solid fa-print"></i></a>
                                                            <a href="javascript:void(0);" class="text-success"><i class="fa-solid fa-pencil"></i></a>
                                                            <a href="javascript:void(0);" class="text-danger"><i class="fa-solid fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <div class="form-check font-size-16">
                                                            <input class="form-check-input" type="checkbox" id="orderidcheck03">
                                                            <label class="form-check-label" for="orderidcheck03"></label>
                                                        </div>
                                                    </td>
                                                    <td><a href="javascript: void(0);" class="text-body fw-bold">#SK2542</a> </td>
                                                    <td>Juan Mitchell</td>
                                                    <td>
                                                        06 Oct, 2019
                                                    </td>
                                                    <td>
                                                        $384
                                                    </td>
                                                    <td>
                                                        <div class="d-flex gap-3">
                                                            <a href="javascript:void(0);" class="text-primary"><i class="fa-solid fa-print"></i></a>
                                                            <a href="javascript:void(0);" class="text-success"><i class="fa-solid fa-pencil"></i></a>
                                                            <a href="javascript:void(0);" class="text-danger"><i class="fa-solid fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check font-size-16">
                                                            <input class="form-check-input" type="checkbox" id="orderidcheck04">
                                                            <label class="form-check-label" for="orderidcheck04"></label>
                                                        </div>
                                                    </td>
                                                    <td><a href="javascript: void(0);" class="text-body fw-bold">#SK2543</a> </td>
                                                    <td>Barry Dick</td>
                                                    <td>
                                                        05 Oct, 2019
                                                    </td>
                                                    <td>
                                                        $412
                                                    </td>
                                                    <td>
                                                        <div class="d-flex gap-3">
                                                            <a href="javascript:void(0);" class="text-primary"><i class="fa-solid fa-print"></i></a>
                                                            <a href="javascript:void(0);" class="text-success"><i class="fa-solid fa-pencil"></i></a>
                                                            <a href="javascript:void(0);" class="text-danger"><i class="fa-solid fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check font-size-16">
                                                            <input class="form-check-input" type="checkbox" id="orderidcheck05">
                                                            <label class="form-check-label" for="orderidcheck05"></label>
                                                        </div>
                                                    </td>
                                                    <td><a href="javascript: void(0);" class="text-body fw-bold">#SK2544</a> </td>
                                                    <td>Ronald Taylor</td>
                                                    <td>
                                                        04 Oct, 2019
                                                    </td>
                                                    <td>
                                                        $404
                                                    </td>
                                                    <td>
                                                        <div class="d-flex gap-3">
                                                            <a href="javascript:void(0);" class="text-primary"><i class="fa-solid fa-print"></i></a>
                                                            <a href="javascript:void(0);" class="text-success"><i class="fa-solid fa-pencil"></i></a>
                                                            <a href="javascript:void(0);" class="text-danger"><i class="fa-solid fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check font-size-16">
                                                            <input class="form-check-input" type="checkbox" id="orderidcheck06">
                                                            <label class="form-check-label" for="orderidcheck06"></label>
                                                        </div>
                                                    </td>
                                                    <td><a href="javascript: void(0);" class="text-body fw-bold">#SK2545</a> </td>
                                                    <td>Jacob Hunter</td>
                                                    <td>
                                                        04 Oct, 2019
                                                    </td>
                                                    <td>
                                                        $392
                                                    </td>
                                                    <td>
                                                        <div class="d-flex gap-3">
                                                            <a href="javascript:void(0);" class="text-primary"><i class="fa-solid fa-print"></i></a>
                                                            <a href="javascript:void(0);" class="text-success"><i class="fa-solid fa-pencil"></i></a>
                                                            <a href="javascript:void(0);" class="text-danger"><i class="fa-solid fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col-sm-4">
                                            <div class="text-sm-left">
                                                <a href="/penjualan/add" class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2"><i class="fa-solid fa-plus"></i> Tambah Penjualan </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <ul class="pagination pagination-rounded justify-content-end mb-2">
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                                        <i class="fa-solid fa-angle-left"></i>
                                                    </a>
                                                </li>
                                                <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript: void(0);">3</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="javascript: void(0);" aria-label="Next">
                                                        <i class="fa-solid fa-angle-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div><!-- end col-->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Skote.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Design & Develop by Themesbrand
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->


<%- include('partials/footer') %>