<%- include('../partials/header') %>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        

        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">Gudang</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Gudang</a></li>
                                        <li class="breadcrumb-item active">List</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-xl-4">
                            <!-- ==================Searching = -->

                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Pencarian Data</h4>
                                    <div class="row">
                                        <form id="form-search">

                                            <div class="row mb-3">
                                                <label for="searchString"
                                                    class="col-sm-2 col-form-label">Invoice</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="searchString"
                                                        name="searchString" placeholder="Tulis Invoice">
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label for="searchDate" class="col-sm-2 col-form-label" id="searchDate"
                                                    name="searchDate" for="searchDate">Date</label>
                                                <div class="col-sm-4">
                                                    <input type="date" id="searchStartDate" name="searchStartDate"
                                                        class="form-control" placeholder="Tulis Date">
                                                    <label class="col-sm-4 col-form-label">to</label>
                                                    <input type="date" id="searchEndDate" name="searchEndDate"
                                                        class="form-control" placeholder="Tulis Date">
                                                </div>
                                            </div>

                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-primary">Cari</button>

                                                <a href="/jquery.html" class="btn btn-warning">Reset</a>
                                            </div>

                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-xl-8">
                            <div class="card">
                                <div class="card-body">
                                    
            
                                    <div class="table-responsive">
                                        <table class="table align-middle table-nowrap table-check">
                                            <thead class="table-light">
                                                <tr>
                                                    <th style="width: 20px;" class="align-middle">
                                                        <div class="form-check font-size-16">
                                                            <input class="form-check-input" type="checkbox" id="checkAll">
                                                            <label class="form-check-label" for="checkAll"></label>
                                                        </div>
                                                    </th>
                                                    <th class="align-middle">Order ID</th>
                                                    <th class="align-middle">Billing Name</th>
                                                    <th class="align-middle">Date</th>
                                                    <th class="align-middle">Total</th>
                                                    <th class="align-middle">Payment Status</th>
                                                    <th class="align-middle">Payment Method</th>
                                                    <th class="align-middle">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="form-check font-size-16">
                                                            <input class="form-check-input" type="checkbox" id="orderidcheck01">
                                                            <label class="form-check-label" for="orderidcheck01"></label>
                                                        </div>
                                                    </td>
                                                    <td><a href="javascript: void(0);" class="text-body fw-bold">#SK2540</a> </td>
                                                    <td>Neal Matthews</td>
                                                    <td>
                                                        07 Oct, 2019
                                                    </td>
                                                    <td>
                                                        $400
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-pill badge-soft-success font-size-12">Paid</span>
                                                    </td>
                                                    <td>
                                                        <i class="fab fa-cc-mastercard me-1"></i> Mastercard
                                                    </td>
                                                    <td>
                                                        <div class="d-flex gap-3">
                                                            <a href="javascript:void(0);" class="text-success"><i class="fa-solid fa-pencil"></i></a>
                                                            <a href="javascript:void(0);" class="text-danger"><i class="fa-solid fa-trash"></i></a>
                                                            <a href="javascript:void(0);" class="text-primary"><i class="fa-solid fa-print"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <div class="form-check font-size-16">
                                                            <input class="form-check-input" type="checkbox" id="orderidcheck02">
                                                            <label class="form-check-label" for="orderidcheck02"></label>
                                                        </div>
                                                    </td>
                                                    <td><a href="javascript: void(0);" class="text-body fw-bold">#SK2541</a> </td>
                                                    <td>Jamal Burnett</td>
                                                    <td>
                                                        07 Oct, 2019
                                                    </td>
                                                    <td>
                                                        $380
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-pill badge-soft-danger font-size-12">Chargeback</span>
                                                    </td>
                                                    <td>
                                                        <i class="fab fa-cc-visa me-1"></i> Visa
                                                    </td>
                                                    <td>
                                                        <div class="d-flex gap-3">
                                                            <a href="javascript:void(0);" class="text-success"><i class="fa-solid fa-pencil"></i></a>
                                                            <a href="javascript:void(0);" class="text-danger"><i class="fa-solid fa-trash"></i></a>
                                                            <a href="javascript:void(0);" class="text-primary"><i class="fa-solid fa-print"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <div class="form-check font-size-16">
                                                            <input class="form-check-input" type="checkbox" id="orderidcheck03">
                                                            <label class="form-check-label" for="orderidcheck03"></label>
                                                        </div>
                                                    </td>
                                                    <td><a href="javascript: void(0);" class="text-body fw-bold">#SK2542</a> </td>
                                                    <td>Juan Mitchell</td>
                                                    <td>
                                                        06 Oct, 2019
                                                    </td>
                                                    <td>
                                                        $384
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-pill badge-soft-success font-size-12">Paid</span>
                                                    </td>
                                                    <td>
                                                        <i class="fab fa-cc-paypal me-1"></i> Paypal
                                                    </td>
                                                    <td>
                                                        <div class="d-flex gap-3">
                                                            <a href="javascript:void(0);" class="text-success"><i class="fa-solid fa-pencil"></i></a>
                                                            <a href="javascript:void(0);" class="text-danger"><i class="fa-solid fa-trash"></i></a>
                                                            <a href="javascript:void(0);" class="text-primary"><i class="fa-solid fa-print"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check font-size-16">
                                                            <input class="form-check-input" type="checkbox" id="orderidcheck04">
                                                            <label class="form-check-label" for="orderidcheck04"></label>
                                                        </div>
                                                    </td>
                                                    <td><a href="javascript: void(0);" class="text-body fw-bold">#SK2543</a> </td>
                                                    <td>Barry Dick</td>
                                                    <td>
                                                        05 Oct, 2019
                                                    </td>
                                                    <td>
                                                        $412
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-pill badge-soft-success font-size-12">Paid</span>
                                                    </td>
                                                    <td>
                                                        <i class="fab fa-cc-mastercard me-1"></i> Mastercard
                                                    </td>
                                                    <td>
                                                        <div class="d-flex gap-3">
                                                            <a href="javascript:void(0);" class="text-success"><i class="fa-solid fa-pencil"></i></a>
                                                            <a href="javascript:void(0);" class="text-danger"><i class="fa-solid fa-trash"></i></a>
                                                            <a href="javascript:void(0);" class="text-primary"><i class="fa-solid fa-print"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check font-size-16">
                                                            <input class="form-check-input" type="checkbox" id="orderidcheck05">
                                                            <label class="form-check-label" for="orderidcheck05"></label>
                                                        </div>
                                                    </td>
                                                    <td><a href="javascript: void(0);" class="text-body fw-bold">#SK2544</a> </td>
                                                    <td>Ronald Taylor</td>
                                                    <td>
                                                        04 Oct, 2019
                                                    </td>
                                                    <td>
                                                        $404
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-pill badge-soft-warning font-size-12">Refund</span>
                                                    </td>
                                                    <td>
                                                        <i class="fab fa-cc-visa me-1"></i> Visa
                                                    </td>
                                                    <td>
                                                        <div class="d-flex gap-3">
                                                            <a href="javascript:void(0);" class="text-success"><i class="fa-solid fa-pencil"></i></a>
                                                            <a href="javascript:void(0);" class="text-danger"><i class="fa-solid fa-trash"></i></a>
                                                            <a href="javascript:void(0);" class="text-primary"><i class="fa-solid fa-print"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check font-size-16">
                                                            <input class="form-check-input" type="checkbox" id="orderidcheck06">
                                                            <label class="form-check-label" for="orderidcheck06"></label>
                                                        </div>
                                                    </td>
                                                    <td><a href="javascript: void(0);" class="text-body fw-bold">#SK2545</a> </td>
                                                    <td>Jacob Hunter</td>
                                                    <td>
                                                        04 Oct, 2019
                                                    </td>
                                                    <td>
                                                        $392
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-pill badge-soft-success font-size-12">Paid</span>
                                                    </td>
                                                    <td>
                                                        <i class="fab fa-cc-paypal me-1"></i> Paypal
                                                    </td>
                                                    <td>
                                                        <div class="d-flex gap-3">
                                                            <a href="javascript:void(0);" class="text-success"><i class="fa-solid fa-pencil"></i></a>
                                                            <a href="javascript:void(0);" class="text-danger"><i class="fa-solid fa-trash"></i></a>
                                                            <a href="javascript:void(0);" class="text-primary"><i class="fa-solid fa-print"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check font-size-16">
                                                            <input class="form-check-input" type="checkbox" id="orderidcheck07">
                                                            <label class="form-check-label" for="orderidcheck07"></label>
                                                        </div>
                                                    </td>
                                                    <td><a href="javascript: void(0);" class="text-body fw-bold">#SK2546</a> </td>
                                                    <td>William Cruz</td>
                                                    <td>
                                                        03 Oct, 2019
                                                    </td>
                                                    <td>
                                                        $374
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-pill badge-soft-success font-size-12">Paid</span>
                                                    </td>
                                                    <td>
                                                        <i class="fas fa-money-bill-alt me-1"></i> COD
                                                    </td>
                                                    <td>
                                                        <div class="d-flex gap-3">
                                                            <a href="javascript:void(0);" class="text-success"><i class="fa-solid fa-pencil"></i></a>
                                                            <a href="javascript:void(0);" class="text-danger"><i class="fa-solid fa-trash"></i></a>
                                                            <a href="javascript:void(0);" class="text-primary"><i class="fa-solid fa-print"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check font-size-16">
                                                            <input class="form-check-input" type="checkbox" id="orderidcheck08">
                                                            <label class="form-check-label" for="orderidcheck08"></label>
                                                        </div>
                                                    </td>
                                                    <td><a href="javascript: void(0);" class="text-body fw-bold">#SK2547</a> </td>
                                                    <td>Dustin Moser</td>
                                                    <td>
                                                        02 Oct, 2019
                                                    </td>
                                                    <td>
                                                        $350
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-pill badge-soft-success font-size-12">Paid</span>
                                                    </td>
                                                    <td>
                                                        <i class="fab fa-cc-mastercard me-1"></i> Mastercard
                                                    </td>
                                                    <td>
                                                        <div class="d-flex gap-3">
                                                            <a href="javascript:void(0);" class="text-success"><i class="fa-solid fa-pencil"></i></a>
                                                            <a href="javascript:void(0);" class="text-danger"><i class="fa-solid fa-trash"></i></a>
                                                            <a href="javascript:void(0);" class="text-primary"><i class="fa-solid fa-print"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check font-size-16">
                                                            <input class="form-check-input" type="checkbox" id="orderidcheck09">
                                                            <label class="form-check-label" for="orderidcheck09"></label>
                                                        </div>
                                                    </td>
                                                    <td><a href="javascript: void(0);" class="text-body fw-bold">#SK2548</a> </td>
                                                    <td>Clark Benson</td>
                                                    <td>
                                                        01 Oct, 2019
                                                    </td>
                                                    <td>
                                                        $345
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-pill badge-soft-warning font-size-12">Refund</span>
                                                    </td>
                                                    <td>
                                                        <i class="fab fa-cc-visa me-1"></i> Visa
                                                    </td>
                                                    <td>
                                                        <div class="d-flex gap-3">
                                                            <a href="javascript:void(0);" class="text-success"><i class="fa-solid fa-pencil"></i></a>
                                                            <a href="javascript:void(0);" class="text-danger"><i class="fa-solid fa-trash"></i></a>
                                                            <a href="javascript:void(0);" class="text-primary"><i class="fa-solid fa-print"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col-sm-4">
                                            <div class="text-sm-left">
                                                <a href="/gudang/add" class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2"><i class="fa-solid fa-plus"></i> Tambah Gudang </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <ul class="pagination pagination-rounded justify-content-end mb-2">
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                                        <i class="fa-solid fa-angle-left"></i>
                                                    </a>
                                                </li>
                                                <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript: void(0);">3</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="javascript: void(0);" aria-label="Next">
                                                        <i class="fa-solid fa-angle-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div><!-- end col-->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Skote.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Design & Develop by Themesbrand
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

        <%- include('../partials/footer') %>